#container {
	position: absolute;
	width: 1600px;
	height: 900px;
	border: 2px solid #000000;
	perspective: 600px;
	overflow: hidden;
	margin-top: 15px;
	margin-left: 160px;
}
#world {
	position: absolute;
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
}
.square {
	position: absolute;
}

.circle {
	position: absolute;
	border-radius: 25px;
}